{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Confirm Delete</h2>
    <p>Are You Sure You Want To Delete {{ object.name }}? It Delete All Other Related Datas Of {{ object.name }}. Please Recheck And Confirm !</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
    </form>
</div>
{% endblock %}
