{% extends 'base.html' %}

{% block content %}
<div class="card-body mx-2 mb-5">
    <a href="{% url 'inventory_dashboard' %}" class="btn btn-primary">Go to Inventory Management</a>
    </div>

<div class="row">
    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Total Credit</div>
            <div class="card-body">
                <h5 class="card-title">${{ total_credit }}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Total Debit</div>
            <div class="card-body">
                <h5 class="card-title">${{ total_debit }}</h5>
            </div>
        </div>
    </div>
    
</div>
<h3>Recent Transactions</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Customer</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.customer.name }}</td>
            <td>{{ transaction.get_transaction_type_display }}</td>
            <td>${{ transaction.amount }}</td>
            <td>{{ transaction.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
