{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-2">
    <h2>Purchase Transactions</h2>

    <form method="post" class="form-inline">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary m-3">Add Purchase</button>
    </form>
    <br>
    <h3>Existing Purchase Transactions</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Total Amount</th>
                <th>Pay Amount</th>
                <th>Payment Type</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in purchase_transactions %}
            <tr>
                <td>{{ transaction.supplier.name }}</td>
                <td>{{ transaction.total_amount }}</td>
                <td>{{ transaction.pay_amount }}</td>
                <td>{{ transaction.payment_type }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
